page-intro {
    .slide_img.swiper img {
        width: 250px;
    }
    .slide-zoom img {
        width: 230px;
    }
    
    p.slides {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
}
